<section class="main-form">
  <h1 class="main-title">Digite um número para saber quais são os divisores e os divisores primos</h1>

  
    <input class="number-input" type="number" [(ngModel)]="numberSelected">

    <div class="button-area">
      <button class="calculate-button" (click)="calculate()">Calcular</button>
    </div>

  <div class="results-section">
    <div class="list">
      <h3 class="list-title">Divisores</h3>
      <h5 class="list-item" *ngFor="let divisor of divisors">{{ divisor }}</h5>
    </div>
    <div class="list">
      <h3 class="list-title">Divisores Primos</h3>
      <h5 class="list-item" *ngFor="let prime of primes">{{ prime }}</h5>
    </div>
  </div>
</section>
